###  Why Python?

<font color=red>Why Python?

###Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

### Ways to run python

Immediate mode - cmd or terminal prompt using direct console(Command 'python' Enter)
Script mode - Create a file with .py extension - 'python file.py' Enter
Integrated Developement Environment (IDE) - spyder, pycharm, jupyter notebook

# Why Python?

why pyhon?

why

### Python

### Python

In [ ]:
Print("Hello World") ### It should be print not Print

In [ ]:
print('Hello World')

In [ ]:
print("Hello World")

In [ ]:
print(hello world) ### String must be defined with inverted comma

In [ ]:
!python --version

In [ ]:
5+12-3

In [ ]:
35+74-212+64

In [ ]:
23+56-34

In [ ]:
a=5
b=8
c=a+b
c

In [ ]:
print(c)

In [ ]:
x=17
y=21
sub=x-y
sub

In [ ]:
a=5
b=6
c=a+b
d=a-b
d
c

In [ ]:
c,d

In [ ]:
A=23
B=13
Diff=A-B
Diff

In [ ]:
a = 5
A = 4
a+A

In [ ]:
a = 3+5+45+4+56
a

In [ ]:
a = (2+4+55+34 +4)
a

In [ ]:
a, b, c = 23,54,"hi"
a,c

In [ ]:
a = b = c = "test"
b

In [ ]:
### Variable

In [ ]:
### Variables
name="latha"

In [ ]:
1name="latha" ### Variable should not start with a number

In [ ]:
n1ame="latha"

In [ ]:
name@="latha" ### Only allowed special character is underscore

In [ ]:
$name="latha"

In [ ]:
_name="latha"

In [ ]:
name="Latha"

In [ ]:
name

In [ ]:
Name ### Case Sensitive

### Data Types

In [ ]:
 a= "latha" # latha is a string(text)
type(a)

In [ ]:
b = 5.2  # float-there is a decimal point
type(b)

In [ ]:
c=3 # integer-no decimal
type(c)

In [ ]:
d=2j # j-Complex
type(d)

In [ ]:
a=45
b=1-3j
c=54.7
d=True
f="True"
e="Raj"

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
type(c)

In [ ]:
type(d)

In [ ]:
type(f)

In [ ]:
type(e)

In [ ]:
type(a,b,c,d,e,f)

In [ ]:
type(a),type(b),type(c),type(d),type(e),type(f)

In [ ]:
x=67
y=45
sum=x+y
print(type(sum),sum)

In [ ]:
a=2
b=3.4
sum=a+b
sub=a-b
print(sub,sum)
type(sub)

In [ ]:
print(sum)
print(type(sum))

In [ ]:
sum
type(sum)

In [ ]:
a=5
type(a),a

In [ ]:
a=2
b=3.4
c=a+b
c,type(c)

In [ ]:
c = 33
type(c)

In [ ]:
d = 2+3j
type(d)

### List ,Tuple,Dictionary,Set

In [ ]:
x = ("apple", "banana", "cherry")
type(x)

In [ ]:
x = ["apple", "banana", "cherry"]
type(x)

In [ ]:
x = {"name" : "John", "age" : 36}
type(x)

In [ ]:
x = {"apple", "banana", "cherry"}
type(x)

In [ ]:
### Rules for naming variables

In [ ]:
4fruit="Apple" ### Variable name should not start with a number

In [ ]:
f4ruit="Apple" ### Variable name can have number other than the first place

In [ ]:
_fruit="Apple" ### It allows only one spl character(Underscore)

In [ ]:
fruit name="Apple"

#List

1. Allows Heterogenous
2. Index start from 0
3. Mutable using index
4. []

In [ ]:
sample_list =[12,4.3,"Hi",1+3j]
sample_list

In [ ]:
type(sample_list)

In [ ]:
sample_list[2]

In [ ]:
sample_list[3]

In [ ]:
sample_list[3]=23
sample_list

In [ ]:
sample_list[2]="hello"
sample_list

In [ ]:
sample_list[4]

In [ ]:
sample_list[-4]

In [ ]:
sample_list[1:]

In [ ]:
sample_list[0:3]

In [ ]:
List= ["P","Y","T","H","O","N"]

In [ ]:
len(List)

In [ ]:
List[1:3]

In [ ]:
List[-3:]

In [ ]:
List[-5:-3]

In [ ]:
List[-6:-2]

In [ ]:
fruit=["Apple","Banana","Pineapple","Grapes"]
fruit.append("Mango")
print(fruit)

In [ ]:
fruit.insert(3,"orange")
print(fruit)

In [ ]:
fruit.index("orange")

In [ ]:
fruit.sort()
print(fruit)

In [ ]:
fruit.pop(0)
print(fruit)

In [ ]:
sample_list[1] = 10 ### mutable
sample_list

In [ ]:
sample_list[2]="hello"
sample_list

In [ ]:
sample_list[1]="hi"
sample_list

In [ ]:
sample_list.reverse()
sample_list

#Tuple
"""
1. Allows Heterogenous
2. Retrive using index
3. Tuple is immutable.
4. ()
"""

In [1]:
sample_tuple =(12,4.3,"Hi",1+3j) ### heterogenous-
sample_tuple

(12, 4.3, 'Hi', (1+3j))

In [2]:
type(sample_tuple)

tuple

In [3]:
sample_tuple[0]

12

In [4]:
sample_tuple[2:]

('Hi', (1+3j))

In [5]:
sample_tuple[6]

IndexError: tuple index out of range

In [6]:
sample_tuple[2]="hello"

TypeError: 'tuple' object does not support item assignment

In [7]:
sample_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [ ]:
sample_tuple = (1,43,56,3.5,"hi",1+2j)
sample_tuple

In [ ]:
list = 10,20,30,40,50,5.5,"hi",1+2j
type(list)

In [ ]:
type(sample_tuple)

In [ ]:
sample_tuple[3]

In [ ]:
sample_tuple[0] = 13 ### immutable/not mutable

In [ ]:
fruit=('Apple', 'banana', 'Pine', 'Grapes', 'orange')
fruit.append("carrot")
print(fuit)

In [ ]:
fruit=('Apple', 'banana', 'Pine', 'Grapes', 'orange')
f=list(fruit) # converting tuple into list

In [ ]:
fruit=('Apple', 'banana', 'Pine', 'Grapes', 'orange')
f=list(fruit) # converting tuple into list
f.append("carrot")
print(f)
Output : ['Apple', 'banana', 'Pine', 'Grapes', 'orange', 'carrot']

#Set
"""
1. Add heterogenous
2. Does not allow duplicates
3. Cannot access using index
4. Mutable?
5.ordered-some way
"""

In [ ]:
sample_set = {1,43,23,45,67,22,21,32,0,25,3,66,66,0,23,43,1,3.2,"a","abc"}
type(sample_set)

In [ ]:
sample_set

In [ ]:
sample_set[3]

In [ ]:
sample_set[3]=188

In [ ]:
sample_set.remove(43)
sample_set

In [ ]:
sample_set.add(43)
sample_set

In [ ]:
Set1={1,'krish',2,'kumar','Kumar'}
print(Set1)
print(type(Set1))

In [ ]:
Days = {"Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"} #Defining Set as Days
Days

In [ ]:
print(type(Days))

In [ ]:
print("looping through the set elements ... ")
for i in Days:
    print(i)

### Dictionary

In [ ]:
Dict = {"1": "Krish","2": "Pankaj","3":"Anurag" }
print(Dict)

In [ ]:
Student= {0:"Priya",1:"krishan",2:"Anup",3:"Rakesh"}
Student[0]

In [ ]:
Student= {0:"Priya", 1:"krishan", 2:"Anup", 3:"Rakesh"}
Student[2]="Mukesh" # Here we replace “Anup” by “Mukesh”
Student[2]

In [ ]:
Student

In [ ]:
Student= {0:"Priya", 1:"krishan", 2:"Anup", 3:"Rakesh"}
Student[4]="Mukesh"
print(Student)

In [ ]:
### Deleting an item from the dictionary is done by using a pop, popitem, del methods
### pop : Delete the item on specifying key name
### popitem : Delete the last item from the dictionary 
### del : the del keyword remove the item with specified key name 
Student= {0: 'Priya', 1: 'krishan', 2: 'Anup', 3: 'Rakesh', 4: 'Mukesh'}
Student.pop(4) #Deleting the value "Mukesh" from the key 4 by using the pop method
print(Student)

#dictionary

1. dictionary has key value pair datastructure
2. key is unique and values can be duplicated
3. Can retrieve the value using key
4. can change the value using key
5. key is immutable

In [ ]:
sample_dict = {"a":"alpha",5:"first",2:"second",7:"third",1:"fourth",5:"fourth",6:"sixth"}
type(sample_dict)

In [ ]:
sample_dict

In [ ]:
sample_dict["a"]

In [ ]:
sample_dict

In [ ]:
sample_dict[1] = "hi"
sample_dict

In [ ]:
sample_dict["fourth"]

#String
"""
1. String can be retrieved using index
2. String is immutable

"""

In [ ]:
a = "hi how are you?"

In [ ]:
type(a)

In [ ]:
a[4]

In [ ]:
a[0]

In [ ]:
a[2]

In [ ]:
a[10]

In [ ]:
a[3] = 'u'

### Conditional Statements in Python

### Conditional statements are also known as decision making statements.
### We need these statements to execute the specific block of code if the given condition is True or False .
### A Condition is a boolean expression in a conditional statement that determines which branch is executed.
### A Statement controls the flow of execution depending on some condition.

In [ ]:
a=20
b=200
if b>a:
    print("b is greater than a")

In [ ]:
a=20
b=200
if b>a:
print("b is greater than a")

In [ ]:
#Type Conversion
a = 23.975
type(a)

In [ ]:
a = int(a)
a

In [ ]:
a = 23
type(a)

In [ ]:
a = float(a)
a

In [ ]:
a ="10"
type(a)

In [ ]:
a = int(a)
a

In [ ]:
a = "rer"
int(a)

In [ ]:
#you can change any 
a = 345
a = str(a)
a

In [ ]:
lst = [1,3,5,4,3,4]
type(lst)

In [ ]:
tpl = tuple(lst)

In [ ]:
lst = list(tpl)
lst

In [ ]:
set(lst)

In [ ]:
lst1 = [[1,2],[3,5],["a",["gr","ewd"]]]
lst1

In [ ]:
lst1[1][1]

In [ ]:
dict(lst1)

In [ ]:
a = list(input("Enter a number "))
a

### Indendation

In [ ]:
a = int(input("Enter your age: "))
a=34

In [ ]:
print("Your age is ",a)

### Condition Statement

In [ ]:
if a>24:
    print("you are a adult")
elif a==0:
    print("New born")
else:
    print("you are teenager")

In [ ]:
a

In [ ]:
list(range(5,10))

In [ ]:
a = [34,32,67,87,3]

In [ ]:
a

### Control Statement

In [ ]:
for i in range(0,10):
    print(a[i])

In [ ]:
len(a)

In [ ]:
for i in range(0,len(a)):
    print(a[i])

In [ ]:
for i in a:
    print(i)

In [ ]:
a

In [ ]:
for i in range(0,len(a)):
    if(i==1):
        if(a[i]>10):
            print("it is greater")

In [ ]:
for i in range(0,len(a)):
    if(a[1]>10):
            print("it is greater")

In [ ]:
stringa = input("Enter your name:")

In [ ]:
for i in stringa:
    print(i)
    if i=='e':
        print("E is there ")
        break

In [ ]:
for i in stringa:
    print(i)
    if i=='e':
        print("I am going to skip this control")
        continue
        print("E is there")

In [ ]:
i = 5
while i>0:
    print(i)
    i = i-1

In [ ]:
#Function
#"""""" = docstring
def test():
    """This is a test function"""
    print("Hi")

In [ ]:
test()

In [ ]:
#test?
#help(test)
test.__doc__

In [ ]:
def sum(a,b):
    print(a+b)

In [ ]:
sum(4,6)

In [ ]:
def ExampleMultipleReturn():
    return 33,54
a, b = ExampleMultipleReturn()
a

In [ ]:
b

In [ ]:
### Recursive Function

def fact(num):
    if(num==1):
        return 1
    else:
        return(num*fact(num-1))
fact(4)

In [ ]:
lst = ['Apple','orangE','BerrY','Grape']

In [ ]:
answer = []
for i in lst:
    print(i)
    print("First letter of {} is {} ".format(i,i[0]))
    firstLetter = i[0]
    print("Length of {} is {}".format(i,len(i)))
    print("Last letter of {} is {} ".format(i,i[len(i)-1]))
    lastLetter = i[len(i)-1]
    print("First letter of {} is {}".format(i,firstLetter.isupper()))
    print("Last letter of {} is {}".format(i,lastLetter.islower()))
    isFirstLetterUpper = firstLetter.isupper()
    isLastLetterLower = lastLetter.islower()
    
    if(isFirstLetterUpper and isLastLetterLower):
        answer.append(i)
print(answer)

In [ ]:
lst = [242,54,5465,65, "ste","tref"]
lst = [3,43,4,45,456,456,56,57,567,56,756,7,7]

In [ ]:
list(range(0,5,1))

In [ ]:
list(range(6,-1,-1))

In [ ]:
for i in range(0,len(lst)):
    print(lst[i])

In [ ]:
lst = [1,4,3,2,543,5435,435,435,345,34523,423]
list(range(len(lst)-1,-1,-1))

In [ ]:
newlst = []
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

In [ ]:
list(range(0,10,1))

In [ ]:
list(range(0,10,2))

In [ ]:
list(range(10,-1,-3))

In [ ]:
lst

In [ ]:
lst[0:3]

In [ ]:
lst[3:7]

In [ ]:
square = lambda  x: x**2

In [ ]:
square(3)

In [ ]:
lst = [1,2,3,4,5]

In [ ]:
newList = []

for i in lst:
    newList.append(square(i))
print(newList)

In [ ]:
squareit = lambda x: x**2

list(map(lambda x: x**2,lst))

In [ ]:
a =3
list(map(lambda x: x**2,lst))

In [ ]:
def abc(x):
    return x**2

In [ ]:
list(map(abc,lst))

In [ ]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [ ]:
newList = []
for i in lst:
    if (i%2==0):
       newList.append(i) 
print(newList)

In [ ]:
list(filter(lambda x : x%2==0,lst))

In [ ]:
lst

In [ ]:
if 1 in lst:
    print("1 is there")
else:
    print("not there")

In [ ]:
sum = 0
for i in lst:
    sum = sum + i
print(sum)

In [ ]:
import functools

In [ ]:
from functools import reduce

reduce(lambda x,y: x+y,lst)

In [ ]:
lst = [3233,32,44,35,3,42,543,31,13,1,2,3,23,23,23,23,32]

def greatest(x,y):
    if x>y:
        return x
    else:
        return y

In [ ]:
reduce(lambda x,y :x if x>y else y,lst)

In [ ]:
reduce(greatest,lst)

In [ ]:
n = int(input("Enter the number for factorial: "))

In [ ]:
reduce(lambda x,y: x*y, list(range(1,n+1)))

In [ ]:
list(range(1,n))

In [ ]:
lst = [1,3,2,4,5]

In [ ]:
newlist=[]
for i in lst:
    newlist.append(i**2)
print(newlist)

### list comprehension

In [ ]:
[i**2 for i in lst]

In [ ]:
[i for i in lst if i%2==0]

In [ ]:
["even" if i%2==0 else "odd" for i in lst ]

In [ ]:
lst1 = [1,2,3,6,4]
lst2 = [5,3,7,6,1]

In [ ]:
[i for i in lst1 for j in lst2 if i==j]

In [ ]:
[(i,j) for i in lst1 for j in lst2 if i!=j]

In [ ]:
a = int(input("Enter the number "))

In [ ]:
a =10
b =0
a/b
print("I have done division")

In [ ]:
try:
    a =10
    b =0
    a/b
except :
    print("Divide By Zero")
print("I have done division")

In [ ]:
try:
    a = int(input("Enter the number "))
except (ValueError) as e:
    print("Invalid input: ",e)
    print("Please enter a valid number")
except (Exception) as e:
    print("Exception")
finally:
    print("Inside finally block")

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
nums=[25,56,56,63]
nums[0]

In [ ]:
nums[5]

In [ ]:
nums[3]

In [ ]:
nums[2:]

In [ ]:
nums[-1]

In [ ]:
nums[-5]

In [ ]:
names=['shreya','siddharth','shivani']
names[0]

In [ ]:
values=[11.5,'Shreya',45]
values

In [ ]:
mix=[names,values]
mix

In [ ]:
nums.append(45)
nums.insert(2,77)
nums