# Numpy: Package for Multidimensional array

In [ ]:
import numpy as np

In [ ]:
simple_list=[6,7,9]
np.array(simple_list)

In [ ]:
arr=np.array([1,2,3])
arr

In [ ]:
list_of_lists=[[1,2,3],[4,5,6],[7,8,9]]
np.array(list_of_lists)

In [ ]:
np.arange(5,65)

In [ ]:
np.arange(1,30,2)

In [ ]:
np.zeros(10)

In [ ]:
np.zeros(10,int)

In [ ]:
np.ones(10)

In [ ]:
np.ones(10,int)

In [ ]:
np.ones((2,5))

In [ ]:
np.linspace(0,1,5)

In [ ]:
np.linspace(0,20,8)

In [ ]:
np.eye(10)

In [ ]:
np.random.rand(2,4)

In [ ]:
arr=np.random.randn(2,4)
arr

In [ ]:
np.random.randint(2,10)

In [ ]:
np.random.randint(20,56,100)

In [ ]:
sample_array=np.arange(30)
sample_array

In [ ]:
rand_array=np.random.randint(0,100,20)
rand_array

In [ ]:
sample_array.reshape(5,6)

In [ ]:
rand_array.min()

In [ ]:
rand_array.argmin()

In [ ]:
sample_array

In [ ]:
sample_array.shape

In [ ]:
sample_array.reshape(5,6)

In [ ]:
sample_array.reshape(4,7)

In [ ]:
sample_array.dtype

In [ ]:
a=np.eye(5)
a

In [ ]:
a.T

In [ ]:
a=np.random.rand(2,3)
a

In [ ]:
a.T

In [ ]:
sample_array=np.arange(10,21)
sample_array

In [ ]:
sample_array[8]

In [ ]:
sample_array[2:5]

In [ ]:
sample_array[1:4]=100
sample_array

In [ ]:
sample_array=np.arange(10,21)
sample_array

In [ ]:
sample_array[0:7]

In [ ]:
subset_sample_array=sample_array[0:7]
subset_sample_array

In [ ]:
subset_sample_array[:]=1001
subset_sample_array

### Two-Dimensional array

In [ ]:
import numpy as np

In [ ]:
sample_matrix=np.array(([50,20,1,23],[24,23,21,33],[56,76,24,7]))
sample_matrix

In [ ]:
sample_matrix[0][2]

In [ ]:
sample_matrix[2,:]

In [ ]:
sample_matrix[2]

### Custom indexing

In [ ]:
sample_matrix=np.array(([30,10,1,23],[24,21,32,33],[6,76,24,7]))
sample_matrix

In [ ]:
sample_matrix[:,(3,2)]

###  Selection techniques

In [ ]:
sample_array=np.arange(1,20)

In [ ]:
sample_array

In [ ]:
sample_array+sample_array

In [ ]:
np.exp(sample_array) # exponential

In [ ]:
np.sqrt(sample_array)

In [ ]:
np.log(sample_array)

In [ ]:
np.max(sample_array)

In [ ]:
np.min(sample_array)

In [ ]:
np.argmax(sample_array)

In [ ]:
np.argmin(sample_array)

In [ ]:
np.square(sample_array)

In [ ]:
np.std(sample_array)

In [ ]:
np.var(sample_array)

In [ ]:
np.mean(sample_array)

In [ ]:
array=np.random.randn(3,4)
array

In [ ]:
np.round(array,decimals=2)

In [ ]:
sports=np.array(['golf','cricket','fball','cricket'])
np.unique(sports)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labels=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [ ]:
pd.Series(data=sample_list)

In [ ]:
pd.Series(data=sample_list,index=array)

In [ ]:
pd.Series(array,labels)

In [ ]:
pd.Series(dict)

### Pandas dataframe and indexing

In [ ]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

In [ ]:
sports1['cricket']

In [ ]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

In [ ]:
sports1+sports2

In [ ]:
df1=pd.DataFrame(np.random.randn(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

In [ ]:
df1["Score1"]

In [ ]:
df1[["Score1","Score2"]]

In [ ]:

df1['Score6']=df1['Score1']+df1['Score2']
df1

In [3]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123

In [4]:
df["ID"]

0    101
1    102
2    103
3    107
4    176
Name: ID, dtype: object

In [7]:
df.drop("ID",axis=1)

    Name  Profit
0   John      20
1  Mercy      54
2  Akash      56
3  Kavin      87
4  Lally     123

### How to import Dataset using Pandas?

In [2]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/HHE_June5/main/CardioGoodFitness-1.csv")

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(10)

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")