### Data Types

In [1]:
x=15
type(x)

int

In [2]:
a=15.0
type(a)

float

In [3]:
course='DataScience'
type(course)

str

In [4]:
z=True
type(z)

bool

In [5]:
z="True"
type(z)

str

In [6]:
y=1-2j
type(y)

complex

### Rules for naming variables

In [7]:
x=1,2,3
x

(1, 2, 3)

In [8]:
student_names="Sanjana","DevaRaj","Vaishnavi"

In [9]:
Student_names

NameError: name 'Student_names' is not defined

In [10]:
student_names="Sanjana","DevaRaj","Vaishnavi"
student_names

('Sanjana', 'DevaRaj', 'Vaishnavi')

In [11]:
student-names="Sanjana","DevaRaj","Vaishnavi"
student-names

SyntaxError: cannot assign to operator (70063178.py, line 1)

In [12]:
s5tudent_names="Sanjana","DevaRaj","Vaishnavi"
s5tudent_names

('Sanjana', 'DevaRaj', 'Vaishnavi')

In [13]:
_student_names="Sanjana","DevaRaj","Vaishnavi"
_student_names

('Sanjana', 'DevaRaj', 'Vaishnavi')

In [14]:
student names="Sanjana","DevaRaj","Vaishnavi"
student names

SyntaxError: invalid syntax (1363203532.py, line 1)

### Rules for naming the variable

##### Variable name should not start with a number but it can be in anyother place
##### Variable name does not allow spl characters other than underscore
##### Space is not allowed
##### Variable name can start with A-Z,a-z,_
##### case sensitive

In [15]:
fruits="Apple","Orange"
f7ruits

NameError: name 'f7ruits' is not defined

In [16]:
-fruititems="Apple","Orange"

SyntaxError: cannot assign to operator (1117235020.py, line 1)

In [17]:
fruit items="Apple"

SyntaxError: invalid syntax (3187536776.py, line 1)

In [18]:
_fruitslist="Apple"

In [19]:
FRUITS="Apple"

In [20]:
fruits="apple","mango"
Fruits

NameError: name 'Fruits' is not defined

### Data Structures

In [21]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [22]:
x = ["apple", "banana", "cherry"]
type(x)

list

In [23]:
x = {"name" : "John", "age" : 36}
type(x)

dict

In [24]:
x = {"apple", "banana", "cherry"}
type(x)

set

# List

1. Allows Heterogenous
2. Index start from 0
3. Mutable using index
4. []

In [25]:
sample_list=[12,43,56,"hi",1+2j,6.7]
sample_list

[12, 43, 56, 'hi', (1+2j), 6.7]

In [26]:
type(sample_list)

list

In [27]:
sample_list[1]

43

In [28]:
sample_list[3]

'hi'

In [29]:
sample_list[6]

IndexError: list index out of range